---
interface Props {
	showTitle: boolean;
}

const { showTitle } = Astro.props;

import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="container mx-auto py-6 mb-8">
	<nav class="flex">
		<div class="w-1/3">
			{
				showTitle && (
					<h2 class="font-bold">
						<a href="/">{SITE_TITLE}</a>
					</h2>
				)
			}
		</div>

		<div class="w-2/3 flex gap-10 justify-end">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
